/* ********************  CUSTOM STYLES  ********************* */
body{
    background: #f4f4f4;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#000;
    margin: 0;
    padding: 0;    
}

h3{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

blockquote {
    border-left: 0;
}

button{
    text-transform: uppercase;
    font-weight: bold;
}

.button-background{
    background: #fcaf40; /* Old browsers */
    background: -moz-linear-gradient(top, #fcaf40, #f58026);
    background: -webkit-linear-gradient(top, #fcaf40, #f58026);
    background: linear-gradient(to bottom, #fcaf40, #f58026); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcaf40', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.orange{
    color: #ff7e00;
}

.tooltip-inner {  
    padding: 5px 8px;
    color: #fff;  
    background-color: #222;
    border-radius: 5px;
    border-color: #000;
}

/* *************** NAVBAR ******************** */
.navbar{
    min-height: 70px;
    border: none;
}

.navbar-default .navbar-collapse{
    padding:  0;
    border-bottom: 1px solid #dcdcdc;
}

.navbar-default .navbar-nav>li{
    padding: 10px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    color: #555;
    background-color: #fff;  
}

.navbar-default .navbar-nav>li.active,
.navbar-default .navbar-nav>li:hover{
    border-bottom: 2px solid #ff7e00;
}

.nav.navbar-nav a{
    font: 20px 'Abel', sans-serif;    
}

.h2-main{
    font: 35px 'Abel', sans-serif;
    color: #ff7e00;
}

.h2-main span{
    font-weight: bold;
}

a.navbar-brand{
    padding-top: 10px;
}

/* ************  SWIPER  ************** */
.swiper-container {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.swiper-wrapper #swiper1{
    background-image: url('../img/swiper/01.jpg');
}

.swiper-wrapper #swiper2{
    background-image: url('../img/swiper/02.jpg');
}

.swiper-wrapper #swiper3{
    background-image: url('../img/swiper/03.jpg');
}

.swiper-wrapper #swiper4{
    background-image: url('../img/swiper/04.jpg');
}

.swiper-wrapper #swiper5{
    background-image: url('../img/swiper/05.jpg');
}

.swiper-wrapper #swiper6{
    background-image: url('../img/swiper/06.jpg');
}

.swiper-wrapper #swiper7{
    background-image: url('../img/swiper/07.jpg');
}

.swiper-wrapper #swiper8{
    background-image: url('../img/swiper/08.jpg');
}

/* ************ CALL FOR ACTION **************** */
.call-for-action{
    position: relative;
    font-family: 'Parisienne', cursive;
    margin-top: 40px;
    padding: 15px 0;
    border: 1px solid #d9d9d9;    
}

.call-for-action h3{
    color: #ff7e00;
    font: 45px 'Parisienne', sans-serif;
    padding-left: 10px;
    letter-spacing: 1px;
}

.call-for-action .arrow{
    background: url('../img/arrow.png') center center no-repeat;
    position: absolute;  
    top:  40%;
    left: 94%;
    width: 83px;
    height: 22px;
}

.call-for-action button{
    font: bold 28px Helvetica, sans-serif;
    text-shadow: 0 -1px 1px #744b1a;   
    border: 2px solid #f58026;
    border-radius: 5px;
    margin: 15px 0 0 30px;
    padding: 10px 40px;    
    color: #fff;        
}

.call-for-action button:hover{
    background: #f69d1d; /* Old browsers */
    background: -moz-linear-gradient(top, #f69d1d, #f47e22);
    background: -webkit-linear-gradient(top, #f69d1d, #f47e22);
    background: linear-gradient(to bottom, #f69d1d, #f47e22); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f69d1d', endColorstr='#f47e22',GradientType=0 ); /* IE6-9 */    
}

.call-for-action button:focus,
.live-chat button:focus{
    outline: none;
}

/* *********** SEPARATOR ********************* */
#separator{
    margin-top: 20px;
}

#separator .col-sm-12{
    height: 15px;
    background: #e1e5e9;
}

/* ************* FEATURES  ******************* */
#features{
    margin-top: 20px;
}

#features .container{
    padding: 0;    
}

#features > .container > .col-sm-4:first-child{
    padding-left: 0;
}

#features > .container > .col-sm-4:last-child{
    padding-right: 0;
}

#features .panel{
    border: 1px solid #d9d9d9;
}

#features .panel-heading{
    background: #ededed; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff, #ededed);
    background: linear-gradient(to bottom, #ffffff, #ededed); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #d9d9d9;
} 

#features .panel-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#features .panel-body{
    padding: 10px;
    background: #f4f4f4;
}

#features .panel-body > div{
    border: 1px solid #d9d9d9;
    background: #fff;
}

#features .panel-body img{
    display:block; 
    margin: auto; 
    padding: 15px 0;
}

#features .panel-body p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
}

#features .panel-body a{
    color: #ff7e00;
    float: right;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
}

/* ***************  TESTIMONIALS Bootstrap customized ***************** */
.carousel-control { 
    width: 0;
}

.carousel-control.left,
.carousel-control.right { 
    margin: 0;
    opacity: 1;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
    top: 40%;
}

.glyphicon-chevron-left:before{
    content:url(../img/arrows/arrow-left.jpg);
}

.glyphicon-chevron-right:before{
    content:url(../img/arrows/arrow-right.jpg);
}

.carousel-control > a > span {
    color: #000;
    font-size: 29px;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
}

.testimonials .active > div { display:none; }
.testimonials .active > div:first-child { display:block; }
.testimonials section{
    float : left;
    width: 50%;
}

.testimonials blockquote{
    position: relative;
    height: auto;
    margin-left: 0;
    padding: 3% 4%;
    font: italic 13px/1.5em Georgia, serif;
    border: 1px solid #c4c2c2;
    background: #fff;
    background: linear-gradient(to bottom, #fff, #dfdcdc);
    box-shadow: 1px 1px 1px #c1bdb5;        
}

.testimonials .carousel-inner .col-xs-12.col-sm-2{ padding-right: 0; }

.testimonials .carousel-col .col-sm-2 img{
    float : right;
    width: 70%;
    padding: 2px;
    border: 1px solid #c1bfb6;
    background-color: #fff;    
}

.testimonials .carousel-col > div p{
    float : left;
    width: 60%;
    margin-left: 5%;    
}

.testimonials .item .col-sm-2{ margin-top: 10px; }

/* ************ Testimonals customized ************ */
#testimonial{
    margin: 20px 0;
}

#testimonial h4{
    color: #222;
    font-size: 16px;
    font-weight: 500;
}

#testimonial h5{
    font-size : 15px;
    color: #333;
    margin-left: 25px;
}

#testimonial .qualities{
    margin-bottom: 20px;
}

#testimonial .col-sm-8 > p{
    text-indent: 50px;
}

#testimonial .col-sm-4{
    padding-right: 0;
}

#testimonial h3{
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
}

#testimonial h3 + p{
    line-height: 1.8em; 
    margin-top: 15px;
}

.testimonials{
    clear: both;
    margin: 20px 0 30px 0;
    padding: 20px 0;
    background-color: #fbe3e3;
    background: -moz-linear-gradient(top, #fbe3e3, #dfd7d7);
    background: -webkit-linear-gradient(top, #fbe3e3, #dfd7d7);
    background: linear-gradient(to bottom, #fbe3e3, #dfd7d7); 
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.arrow-up {
    position: absolute;
    top: 20px;
    left: -10px;
    width: 0; 
    height: 0; 
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* *********** KEEP CONNECTED *************** */
.live-chat, .phone{
    border: 2px solid #d9d9db;
    border-radius: 5px;
}

.live-chat{
    position: relative;
    height: 90px;
    margin-top: 10px;    
}

#testimonial .live-chat h3{
    margin: 5px 0;
    padding: 0 0 5px 90px;  
    font: bold 16px/18px Arial, sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    border-bottom: none;
}

.live-chat .contact-us, .live-chat .call-us{
    position: absolute;
}

.live-chat .contact-us{
    top:  -10px;
    left: 3px;
}

.live-chat button{
    width: 45%;
    margin-left: 90px;
    padding: 10px;   
    color: #fff;
    font: bold 16px Arial, sans-serif;
    text-shadow: 0 -1px 1px #8d5c20;
    border: 2px solid #f58026;
    border-radius: 6px;
}

.live-chat button:hover{
    background: -moz-linear-gradient(top, #fcaf40, #fa8d3a);
    background: -webkit-linear-gradient(top, #fcaf40, #fa8d3a);
    background: linear-gradient(to bottom, #fcaf40, #fa8d3a);
}

.live-chat .call-us{
    top: 12%;
    right: 8%;
}

.live-chat span.small{
    display: block;
    position: absolute;
    bottom: 1%;
    right: 7%;
    color: #14b92c;
    font-size: 16px;
    letter-spacing: 1px;
}

.phone{
    margin: 15px 0 0 0;
}

#testimonial .phone h4{
    margin-bottom: 5px;
    color: #555;
    text-transform: uppercase;    
    font-weight: bold;    
}

.phone p{
    margin: 0 0 5px 0;
    padding: 0;
    font: bold 16px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;    
}

.phone img{
    padding-top: 15px;
}

/* ************* LATEST TWEETS ************ */
.latest-tweets{
    position: relative;
}

.latest-tweets .tweets-thumbnails{
    position: absolute;
    top: -40px;
    right: 15px;
}

.latest-tweets li{
    display:  inline;
}

.latest-tweets a{
    display: inline-block;
    width: 18px;
    height: 16px;
    background-color: #8a8989;
}

.latest-tweets li.active a{
    background-color: #ff7e00;
}

.tweets-container{
    position: relative;
}

.tweets-container .col-sm-12 > .recent-tweet:not(:first-child){
    display: none;
}

.tweets-container .to-person{
    color: #ff7e00;
    font-size: 14px;
    font-weight: bold;
}

.recent-tweet{
    position: relative;
    margin-top: 10px;
    padding: 20px 10px 0 15px;
    border: 1px solid #dedede;
    background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa, #e2e1e1);
    background: -webkit-linear-gradient(top, #fafafa, #e2e1e1);
    background: linear-gradient(to bottom, #fafafa, #e2e1e1);
}

.recent-tweet > blockquote{
    padding: 0;  
    font-size: 14px;
    line-height: 1.8em;
    color: #555;
}

.recent-tweet .arrow-down {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-top: 20px solid #e2e1e1;
    border-right: 20px solid transparent;
}

.tweets-container > img{
    position: absolute;
    bottom: -25%;
    left: 11%;
}

/* ************** FOOTER  **************** */
#footer{
    margin: 60px 0 20px 0;
    padding: 5px 0;
    font: 1.3em/1.7em Arial, Helvetica, sans-serif;
    text-align: center;    
    color: #555; 
}

#footer .container{
    border: 1px solid #d9d9d9;
    background-color: #ececec;
}

#footer h4,
#footer ul{
    padding-left: 20px;
    text-align: left;    
}

#footer h4{
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;    
}

#footer ul a{
    font-size: 14px;
    color: #555;
    text-decoration: underline;
}

#footer ul a:hover,
#footer .social-media li a{
    text-decoration: none;
}

#footer .bottom, #footer .bottom a{
    color: #fff; 
}

#footer .social-media li{
    display: inline;
    padding-right: 5px;
}

#footer .social-media img{
    border: 1px solid #fff;
}

#footer .social-media img:hover{
    opacity: 0.8;
    border: 1px solid #e5e5e5;
}

/* *****************  FORM ********************* */
.form-inline{
    float: left;
}

.form-inline input[type="email"]{
    font-size: 12px;
    margin-left: 20px;
    padding: 5px 30px;    
}

.form-inline button{
    margin-left: 20px;
    padding: 5px 25px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
}

.form-inline button:hover,
.form-inline button:focus,
.form-inline button:active{
    border: 1px solid #f9631e;
    color: #fff;
}

.form-inline .btn-default:active{
    color: #fff;
    background-color: #fcaf40;
    border-color: #e5682f;
}

.bottom{
    margin-top: 20px;
    padding: 10px 20px 5px 20px;  
    background-color: #3b3b3b; 
    font-family: 'Abel', sans-serif;
    text-align: left;
}

.bottom ul{
    float: right;
}

.bottom ul li{
    display: inline;
    padding-right: 10px;
    font-size: 14px;
}

/* *************** MODAL  ******************* */
.modal-header,
.modal-footer{
    background-color: #e3e3e2;
}

.modal .btn-primary{
    background-color: #ff7e00;
    border-color: #fd8209;
}

.modal .btn-primary:hover{
    border-color: #d16802;
}

.modal .btn-default{
    background-color: #eee;
}


/* *********************************************** */
/* ****************  MEDIA QUERIES *************** */
/* *********************************************** */
@media (max-width: 1199px){
    .navbar-nav{
        margin-top: 10px;
    }
    
    /* ********* CALL FOR ACTION  ******** */ 
    .call-for-action{
        padding: 10px 0;
    }

    .call-for-action h3{
        font-size: 35px;
    }

    .call-for-action .arrow{
        left: 91%;
    }

    .call-for-action button{
        font-size: 20px;   
    }

    /* ********** LIVE CHAT ************ */
    #testimonial .live-chat h3{
        padding-left: 80px;
    }

    .live-chat button{
        padding: 5px 10px;
        margin-left: 80px;
    }

    .live-chat .call-us, .live-chat span.small{
        right:5%;
    }
    
    /* **************** FORM  ******************* */
    .form-inline input[type="email"] {
        padding: 5px 20px;
    }

    .form-inline button{
        margin-left: 10px;    
        padding: 5px 10px;
    }

    .bottom .col-sm-6{
        padding-right: 0 ;
    }
}         /* *************  end media 1199px ******************** */


@media (max-width: 991px){
    /* *******************   NAVBAR  ***************** */             
    .navbar-default .navbar-nav>li{  padding: 8px 8px 5px 8px; }

    .nav.navbar-nav a{ font-size: 18px; }
    
    .h2-main{
        font-size: 30px;
        margin: 10px 0 0 0;
    }

    /* ******************  CALL FOR ACTION   ************** */ 
    .call-for-action{  padding: 0 0 5px 0; }

    .call-for-action h3{
        font-size: 29px;
        padding-left: 0;
    }

    .call-for-action button{
        font-size: 17px;   
        margin-left: 0;
    }
    

    /* *****************  TESTIMONIALS  ******************* */
    #testimonial{ margin-top: 0; }

    #testimonial h3{  font-size: 22px; }

    #testimonial .live-chat h3{
        margin-top: 10px;
        padding-left: 80px;
        font-size: 15px;      
    }

    .live-chat button{
        width: 50%;
        margin-left: 85px;
    }

    .live-chat .call-us, .live-chat span.small{  right:5%; }
    
    .phone img{
        margin-left: -10px;
        padding-top: 15px;     
    }

    #testimonial .phone h4, 
    #testimonial .phone .col-sm-9 p{
        font-size: 13px;
        padding-left: 10px;
    }

    #testimonial .phone .col-sm-9 p{  margin-bottom: 0; }

    #testimonial .phone .col-sm-9 p:last-child{  margin-bottom: 5px; }

    .tweets-container > img{ bottom: -20%; }

    /*  ******************* FOOTER **************** */
    #footer{
        line-height: 1.4em;
    }

    #footer .social-media li{
        padding-right: 15px;
    }

    #footer .social-media img{
        margin-bottom: 15px;
    }

    #footer h4{
        font-size: 14px;
    }

    #footer .newsletter h4{
        margin-top: 0;
    }

    /* ********************* FORM  ******************* */
    .form-inline input[type="email"] {
        margin: 0 0 10px -2px;
        padding: 5px 15px;
    }

    .form-inline button{
        margin-left: 10px;    
        padding: 8px 13px;
    }

    .bottom .col-sm-6{ padding-right: 0 ; }
}         /* *************  end media 991px ******************** */

@media (max-width: 767px) {
    /* ***********************  NAVIGATION  **************** */ 
    .navbar-nav{ margin: 0;}

    .navbar-default .navbar-nav>li{
        padding-top: 5px;
        padding-bottom: 5px;       
    }

    .navbar-default .navbar-nav>li>a{
        color:#555;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus{
        color: #333;
        background-color: #e9e9e9;
    }

    .navbar-default .navbar-nav>li.active,
    .navbar-default .navbar-nav>li:hover{
        border-bottom: none;
    }

     .navbar-default .navbar-toggle{
        background-color: #ff7e00;
        border-color: #ea7502;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #dd6e02;
    }

    .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }

    .navbar-default .navbar-collapse{
        border-bottom: none;
        margin-top: 15px;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form{
        border-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color:#555;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: #eaeaea;
    }
    
    .h2-main{ font-size: 28px; }

    /* *****************    CALL FOR ACTION    ******************** */
    .call-for-action{
        margin: 40px 0 0 0;
        padding: 0 15px;
        background: linear-gradient(to bottom, #ffffff, #ededed);
    }

    .call-for-action .col-xs-12 h3 {
        margin: 10px auto 0 auto;
        font-size: 28px;
    }

    .call-for-action button{ margin: 10px auto 15px auto; }

    .call-for-action .arrow{ left: 30%; }

    /* *************** FEATURES ******************* */
    #features > .container > .row{
        margin-left:0;
        margin-right: 0;
    }

    #features > .container > .col-sm-4:first-child{
        padding-left: 15px;
    }

    #features > .container > .col-sm-4:last-child{
        padding-right: 15px;
    }

    /* ************** Testimonials ************** */
    #testimonial .col-sm-4{ padding-left: 0; }

    #testimonial > .container > .row{ margin: 0; }

    .testimonials { padding: 5px 0; }

    .testimonials .carousel .col-xs-12.col-sm-pull-10{
        width: 30%;
        height: 80px;
        margin-top: 0;
    }

    .testimonials .carousel-col .col-sm-2 img{
        min-width: 90px;
        width: 50%;
        height: 80px;
    }

    .arrow-up {
        top: 100%;
        bottom: -20px;
        left: 15%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #dfdcdc;
    }

    .live-chat, .phone {
        border-width: 1px;
        border-radius: 3px;
        box-shadow : inset 0 1px 0 1px  #e9e9e9;
    }

    #testimonial .live-chat h3{ padding-left: 85px; }
    .live-chat button{
        width: 30%;
    }

    .row.phone .col-sm-3,
    .row.phone .col-sm-9{
        float: left;
    }

    /* *********** Tweets ********* */
    .tweets-container > img {
        bottom: -30%;
        left: 8%;
    }

    /* *******************   FOOTER    ********************* */ 
    #footer{
        margin-left: 15px;
        margin-right: 15px;
    }

    .form-inline{
        width: 80%;
        margin-left: 20px;
    }

    .form-inline .form-group{
        width: 50%;
        float: left;      
    }

    .form-inline input[type="email"]{ padding: 18px 10px; }

    .form-inline button{
        width: 25%;
        float: left;
    }

    .bottom ul{
        float: left;
        margin-top: 5px;
        padding-left: 0 !important;
    }
    
} /* end media 767px */

@media (max-width: 480px) {
    .navbar-default .navbar-nav>li{ 
        padding-top: 3px;
        padding-bottom: 3px;
     }

    .nav.navbar-nav a{ font-size: 16px; }
    .navbar-nav > li > a{ padding: 5px 15px; }

    .navbar-toggle{
        padding: 7px 8px;
        margin-right: 10px;
    }

    .h2-main{ 
        font-size: 25px; 
        margin-top: 5px;
    }

    .swiper-container { padding: 30px 0; }

    .swiper-slide {
        width: 200px;
        height: 200px;
    }

    .call-for-action .col-sm-9.col-xs-12 { padding: 0; }
    .call-for-action .col-xs-12 h3 {
        margin: 7px auto 0 auto;
        padding-top: 8px;
        font-size: 24px;
        text-align: center;
        line-height: 1em;        
    }

    .call-for-action button{
        font-size: 15px;
        padding: 10px 20px;
        border-width: 1px;
        letter-spacing: 1px;
    }

    .hide-480{ display: none; }

    #testimonial h3{
      font-size: 20px;
    }
    .testimonials .carousel-col .col-sm-2 img{
        min-width: 50px;
        min-height:  50px;
        width: 60%;
        height: 60px;
    }

    #footer .social-media li{
      padding-right: 10px;
    }
        
}  /* end media 480px */